#render-root {
    width: 100%;
    height: 100%;
}

#outer-panel {
    position: absolute;
    top: 0;
    max-width: 40%;
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: right 0.5s;
}

.panel-open {
    right: calc(min(60%,100% - ));
}

.panel-closed {
    right: 100%;
}

#close-button {
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
}

.list-view-panel {
    width: calc(100% - 20px);
    height: calc(100% - 100px);
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
